@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

html {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.container {
    margin: 100px 15px 0;
    text-align: center;
}

.semi-bold {
    font-weight: 700;
}

.header-section {
    display: block;
}

.top-image {
    width: 162px;
}

.hello-image {
    display: inline-block;
    position: relative;
    top: 6px;
    margin-right: 10px;
}

.main-heading {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    display: inline-block
}

.subheading {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 35px;
}

mark {
    display: inline-block;
    line-height: 2px;
    padding-bottom: 10px;
    background-color: #B5EDD2;
}

.about {
    color: #292929;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 73px;
}

.social-links {
    width: 100%;
    margin-bottom: 10px;
    height: 130px;
}

.social-links-wrapper {
    line-height: 3;
}

.social-link {
    display: inline-block;
    color: #292929;
    text-decoration: none;
    margin: 0 17px;
    border-bottom: 1px solid #D7D7D7;
    padding-bottom: 3px;
    transition: all 200ms ease-in-out;
}

.social-link:hover {
    padding-bottom: 20px;
    border-bottom: 1px solid transparent;
    color: #60af89;
}

.experience-case-studies {
    margin-bottom: 73px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 248px;
    height: 305px;
    border-radius: 8px;
    background-color: #292929;
    -webkit-box-shadow: 3px 3px 7px -6px rgba(0,0,0,0.51);
   -moz-box-shadow: 3px 3px 7px -6px rgba(0,0,0,0.51);
   box-shadow: 3px 3px 7px -6px rgba(0,0,0,0.51);
   transition: box-shadow 0.5s ease-in-out;
   margin-bottom: 30px;
}

.card:hover {
    -webkit-box-shadow: 3px 3px 23px -6px rgba(0,0,0,0.7);
    -moz-box-shadow: 3px 3px 23px -6px rgba(0,0,0,0.7);
    box-shadow: 3px 3px 23px -6px rgba(0,0,0,0.7);
}

.card:hover .logo-wrapper,
.card:hover .card-button {
  opacity: 1;
}

.card-logo {
    width: 150px;
}

.apex-logo {
    margin-top: 20px;
}

.umg-logo {
    margin-top:15px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    width: 150px;
    height: 72px;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
}

.card-button {
    background-color: white;
    font-size: 13px;
    font-weight: 500;
    border-radius: 3px;
    padding: 9px 0;
    width: 150px;
    border: 0;
    opacity: 0.75;
    overflow: hidden;
    display: inline-block;
    position: relative;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}

.card-thirdlove .card-button {
    color: #A5446F;
}

.card-apex .card-button {
    color: #393937;
}

.card-umg .card-button {
    color: #537780;
}

.card-button span {
    transition: 0.6s;
    transition-delay: 0.2s;
}

.card-button:before,
.card-button:after {
        content: '';
        position: absolute;
        top: 0.67em;
        left: 0;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: .4s,opacity .6s;
}

/* :before */
.card-button:before {
    content: attr(data-hover);
    transform: translate(-150%,0);
}
/* :after */
.card-button:after {
  content: attr(data-active);
  transform: translate(150%,0);
}
/* Span on :hover and :active */
.card-button:hover span,
.card-button:active span {
    opacity: 0;
    transform: scale(0.3);
}
/* :before pseudo-element on :hover 
    and :after pseudo-element on :active */
.card-button:hover:before {
    opacity: 1;
    transform: translate(0,0);
    transition-delay: .4s;
}

.pink-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d481a3+0,a3426d+100 */
    background: #d481a3;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #d481a3 0%, #a3426d 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #d481a3 0%, #a3426d 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #d481a3 0%, #a3426d 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d481a3', endColorstr='#a3426d', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.grey-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#99aeb3+0,2b2724+100 */
background: #99aeb3; /* Old browsers */
background: -moz-linear-gradient(45deg, #99aeb3 0%, #2b2724 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #99aeb3 0%,#2b2724 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #99aeb3 0%,#2b2724 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99aeb3', endColorstr='#2b2724',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.green-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6ea1ae+0,b7e3d4+100 */
background: #6ea1ae; /* Old browsers */
background: -moz-linear-gradient(45deg, #6ea1ae 0%, #b7e3d4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #6ea1ae 0%,#b7e3d4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #6ea1ae 0%,#b7e3d4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ea1ae', endColorstr='#b7e3d4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.footer {
    border-top: 1px solid #D7D7D7;
    margin: 0 auto;
    font-size: 12px;
    width: 100%;
    padding-top: 20px;
}

@media (min-width: 375px) {
    .container {
      margin: 100px 15px 0;
    }
}

@media (max-width: 768px) {
    .social-links-desktop {
        display: none;
    }
}

@media (min-width: 768px) {
    .card-container {
        flex-direction: row;
        width: 740px;
    }
    .card {
        width: 208px;
        height: 265px;
    }
}

@media (min-width: 1024px) {
    .card-container {
        width: 1000px;
    }
    .card {
        width: 248px;
        height: 305px;
    }
}

